html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/******************************************
 The start of my stuff.
******************************************/
:root {
   background: whiteSmoke;
   font-family:'Corbel', serif;
}

body {
   background-color: whiteSmoke;
   background-repeat: repeat-y;
   background-position: left top;
   background-size: 100%;
   height: inherit;
}

a, a:active, a:visited{
    text-decoration: none;
    color: inherit;
}

.body a:hover {
    text-decoration: underline;
}

.col2 table {
    width: 100%;
}

.col2 tr td{
    padding: 0px 0px 0px 0px;
}

.classes tr td {
    padding-left: 20px;
}

.classes tr td em {
    color: black;
    text-decoration: underline;
}

.indent {
    padding-left: 25px;
}

.project {
    margin-bottom: 20px;
}

.date{
    text-align: right;
    color: #94949c;
    font-size: 18px;
    padding-top: 6px;
}

th {
    text-align: left;
}

.description {
    padding-left: 20px;
}

h2 {
    font-style: italic;
    color: #9898a0;
}

.header {
    background: #3bb0ff;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-transform: uppercase;
    top: 0;
    left: 0;
}

.wrapper {
    color: white;
    width: 1080px; /*1100px;*/
    margin: 0px auto;
}

.name {
    font-size: 30px;
    text-shadow: -1px -1px 1px #c0c0c8;
    text-align: right;
    width: 240px;
    float: left;
    padding-right: 15px;
}

@media screen {
    .name {
        color: white;
    }
}

.header .wrapper .menu {
    float: left;
    border-left: 1px solid white;
    padding-left: 10px;
}

.header .wrapper .menu li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-top: 3px solid #3bb0ff;
    line-height: 37px;
    
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

.header .wrapper .menu li:hover {
    border-top: 3px solid white;
}

.body {
    color: black;
    width: 1080px; /*1100px;*/
    margin: 0px auto 0px auto;
    font-size: 20px;
    line-height: 24px;
    height: inherit;
}

.body table {
    height: inherit;
}

.body table table {
    margin-top: 0px;
}

.body td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.body .col1 {
    width: 225px; /*320px;*/
    text-align: right;
}

.body .col1 h2 {
    padding-right: 5px;
    border-right: 3px solid whiteSmoke;

    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

.body .col1 h2:hover {
    border-right: 3px solid #3bb0ff;
}

.body .col2 {
    background-color: white;
    width: 720px;
    
    -webkit-box-shadow: 0px 2px 5px 3px rgba(75, 75, 75, 0.2);
    -moz-box-shadow: 0px 2px 5px 3px rgba(75, 75, 75, 0.2);
    box-shadow: 0px 2px 5px 3px rgba(75, 75, 75, 0.2);
}

.body .col2 h2 {
    padding-left: 5px;
    border-left: 3px solid white;

    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

.body .col2 h2:hover {
    border-left: 3px solid #3bb0ff;
}

.body .col2 p {
    padding-bottom: 20px;
}

.social {
    padding-left: 20px;
}

.footer {
    background: whiteSmoke;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer a {
    border-bottom: 3px solid whiteSmoke;

    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

.footer a:hover {
    border-bottom: 3px solid #3bb0ff;
}

.hidden {
    display: none;
}

@media print {
    .name {
        color: black;
        text-shadow: none;
    }

    .menu {
        display: none;
    }

    .footer {
        display: none;
    }

    .col2 {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    h2 h2:hover {
        border: none;
    }

    #date {
        display: none;
    }

    .header {
        background-color: none;
    }
}