html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/******************************************
 The start of my stuff.
******************************************/
:root {
   background: whiteSmoke;
   font-family:'Corbel', serif;
}

a, a:active, a:visited{
    text-decoration: none;
    color: inherit;
}

h1 {
    color: #3bb0ff;
    font: inherit;
    font-size: 48px;
}

header {
    background: #3bb0ff;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-transform: uppercase;
    top: 0;
    left: 0;
}

.body {
    position: absolute;
    width: 900px;
    top: 40px;
    left: 50%;
    margin-left: -450px;
}

.wrapper {
    color: white;
    width: 1100px;
    margin: 0px auto;
}

.wrapper .name {
    font-size: 30px;
    color: white;
    text-shadow: -1px -1px 1px #c0c0c8;
    text-align: right;
    width: 335px;
    float: left;
    padding-right: 15px;
}

.wrapper .menu {
    float: left;
    border-left: 1px solid white;
    padding-left: 10px;
}

.wrapper .menu li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-top: 3px solid #3bb0ff;
    line-height: 37px;
    
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

.wrapper .menu li:hover {
    border-top: 3px solid white;
}

textarea {
    width: 100%;
}

table {
    height: inherit;
    width: 100%;
}

td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

button {
    font: inherit;
    color: white;
    background-color: #3bb0ff;
    border-style: none;
    font-size: 24px;
}

button:hover {
    background-color: #4498d1;
}