body{
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    background-color: #3bb0ff;
    background-image: linear-gradient(left top, #008AE6 16%, #6DC5FC 61%);
    background-image: -o-linear-gradient(left top, #008AE6 16%, #6DC5FC 61%);
    background-image: -moz-linear-gradient(left top, #008AE6 16%, #6DC5FC 61%);
    background-image: -webkit-linear-gradient(left top, #008AE6 16%, #6DC5FC 61%);
    background-image: -ms-linear-gradient(left top, #008AE6 16%, #6DC5FC 61%);

    background-image: -webkit-gradient(
	linear,
	left top,
	right bottom,
	color-stop(0.16, #008AE6),
	color-stop(0.61, #6DC5FC)
    );

    background-attachment: fixed;
    background-repeat: no-repeat;
}

.page{
    width: 900px;
    height: 100%;
    font-size: 24px;
    font-weight: 300;
    background-color: #ffffff;
    margin: 0 auto 25px auto;
    -webkit-box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.4);
}

a, a:active, a:visited{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #333;
}

header{
    height: 120px;
    text-align: right;
    padding: 7px 10px 15px 10px;
    font-weight: 400;
    line-height: 104px;
    clear: left;
}

hr{
    height: 1px;
    border: none;
    color: #d0d0d8;
    background-color: #d0d0d8;
    margin: 5px 30px 15px 30px;
}

footer{
    clear: both;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 7px;
}

aside{
    text-align: right;
    border-right: 1px solid #d0d0d8;
    padding-right: 17px;
    width: 250px;
    height: 100%;
    float: left;
}

.content{
    margin-left: 267px;
    padding-left: 10px;
    padding-right: 19px;
    border-left: 1px solid #d0d0d8;
}

.date{
    clear: right;
    float: right;
    color: #94949c;
    font-size: 18px;
    padding-top: 6px;
}

.min{
    font-size: 18px;
}

.page em{
    font-style: italic;
    color: #9898a0;
}

.li{
    font-size: 18px;
    padding-left: 30px;
    text-indent: -15px;
}

.liem{
    text-decoration: underline;
    font-style: italic;
}

.bigli{
    margin-left: 18px;
    padding-left: 10px;
}

.fname{
    font-size: 72px;
    padding-right: 10px;
}

.lname{
    border-left: 3px solid #d8d8e0;
    font-size: 124px;
    color: #d8d8e0;
    padding: 0 0 0 10px;
    text-shadow: -1px -1px 1px #c0c0c8;
}

.entry{
    padding-left: 10px;
}

.h1{
    font-size: 32px;
}

.dllink a, .dllink a:active, .dllink a:visited{
    clear: right;
    float: right;
    color: #94949c;
    font-size: 18px;
    padding-top: 15px;
}

.description{
    clear: right;
}

.schedlogmsg{
    font-size: 16px;
    color: red;
    text-align: center;
}

#login table{
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px 15px 15px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

#login table tr td{
    text-align: right;
}

#logout table{
    margin-left: auto;
    margin-right: auto;
}

.button{
    background-color: transparent;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
}

#register table{
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px 15px 15px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

#register table tr td{
    text-align: right;
}